* {
    font-family: JetBrainsMono, sans-serif;
    font-size: 20px;
}

#window {
    margin: 0px;
    border: none;
    background-color: #68272d;
    color: #d3d7cf;
    border-radius: 4px;
}

#input {
    margin: 10px;
    padding: 10px 0px 10px 10px;
    background-color: #68272d;
    color: #d3d7cf;
    border: 2px solid #68272d;
    border-bottom: 2px solid #262626;
    border-radius: 4px;
}

#scroll {
    margin-bottom: 15px;
}

#entry {
    margin: 0px 15px;
}

#entry:selected {
    background-color: #d3d7cf;
    color: #262626;
    border: none;
    outline: none;
}

#entry>box {
    margin-left: 16px;
}

#entry image {
    padding-right: 10px;
}

#colors {
    background-color: #68272d;
    color: #d3d7cf;
    border-color: #262626;
}